
.btn{
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 3rem;
  background-color: #e0e0e0;
  cursor: pointer;
}
.btn:hover{
  filter: drop-shadow(0 0 20px #7c7c7c);
}

.btn--primary{
  background-color: #ffe604;
  color: #000;
}
.btn--primary:hover{
  filter: drop-shadow(0 0 20px red);
}
.btn:disabled{
  filter: grayscale(100%);
  color: #7c7c7c;
}